@{
    ViewData["Title"] = "Login";
}
<div class="bg-white border px-4 py-5 rounded-4">
    <p class="fw-bold fs-5 mb-2">Entre na sua conta</p>
    <form>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail ou nome  de usu·rio">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-dark fw-medium" type="submit">Continuar</button>
            <a class="btn btn-light fw-medium" role="link">Preciso de ajuda para acessar</a>
        </div>
    </form>
</div>